.sort-item {
    width: 40px;
    background-color: red;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 2px;

    &--highlight {
        animation: highlightItem 2s infinite;
    }

    &--completed {
        background-color: green;
    }
}

@keyframes highlightItem {
    0% {
        background-color: violet;
    }
    50% {
        background-color: aqua;
    }
    100% {
        background-color: violet;
    }
}